# Ignorar ambiente virtual (venv)
venv/
venv/*
venv*/

# Ignorar arquivos gerados pelo ambiente virtual
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Ignorar variáveis de ambiente
.env

# Ignorar arquivos gerados pelo vscode

settings.json